/Client/Assembly-CSharp.csproj
/Client/Assembly-CSharp-Editor.csproj
/Client/Assembly-CSharp-vs.csproj
/Client/Assembly-UnityScript.unityproj
/Client/Assembly-UnityScript-Editor.unityproj
/Client/Client.sln
/Client/Client.userprefs
/Client/TestNet-csharp.sln
obj
Library
Log
ScriptRuntimeDomain
temp
bin
/Server/GateServer/*.suo
/Server/GateServer/*.user
/Server/Tools/AutoStartRedis/*.pdb
/Server/Tools/Sln/AutoStartRedis/*.sdf
/Server/Tools/Sln/AutoStartRedis/*.suo
Debug
Release
/Server/*.suo
/Server/LoginServer/*.rdb
/Server/LoginServer/*.suo
/Server/LoginServer/*.user
/Server/Tools/AutoStartRedis/*.rdb
/Server/LobbyServer/*.suo
/Server/LobbyServer/*.user
